#carousel {
  width: 100px;
  max-height: 75px;
  background-color: white;
  margin: 25px;
  padding: 0 !important;
}

#ui_checkbox {
  font-size: 14px !important;
}
ui checkbox{
  font-size: 16px;

}